code .kw { color: #007020; font-weight: bold; }
code .dt { color: #902000; }
code .dv { color: #40a070; }
code .bn { color: #40a070; }
code .fl { color: #40a070; }
code .ch { color: #4070a0; }
code .st { color: #4070a0; }
code .co { color: #60a0b0; font-style: italic; }
code .ot { color: #007020; }
code .al { color: red; font-weight: bold; }
code .fu { color: #06287e; }
code .er { color: red; font-weight: bold; }
