@import "mixins";

$white: #fff;
$black: #222;
$primary-color: #7CCC45; // light green
$secondary-color: #72B245; // dark green
$accent-color: #FF8356; // orange
$link-color: #3344B2;

body {
    color: $black;
}

a {
    color: $link-color;

    &:visited:not(:hover) {
        filter: brightness(.75);
    }
    &:hover {
        filter: saturate(110%) brightness(1.3);
        transition: filter 0.25s ease;
    }
    &:active {
        filter: saturate(200%);
    }
}
[rel="author"] {
    color: $primary-color
}

h1 {
	color: $primary-color;
}
h2 {
	color: $accent-color;
}
h3, h4, h5, h6 {
	color: $secondary-color;
}

h1, h2, h3, h4, h5, h6 {
    a {
        color: inherit;
    }
}

time {
    color: lighten($black, 20);
}
