@import "normalize";
@import "typography";
@import "color";
@import "syntax";

$baseline: 1.5rem;
$max-width: $baseline * 36;

@include init_typography($baseline, $max-width);

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

#body-wrap {
  max-width: $max-width;
  margin: 0 auto;

  padding: 0 $baseline/2;

  @media screen and (min-width: 550px) {
    padding: 0 $baseline;
  }

  .post {
    $border: 1px solid $secondary-color;
    margin-bottom: $baseline;
  }
}

hr {
  margin: $baseline 0;
  font-size: $baseline;
  height: 1em;
  font-family: "Calluna", serif;
  border: none;
  clear: both;

  &:after {
    content: "⁂"; // https://en.wikipedia.org/wiki/Asterism_(typography)
    display: block;
    text-align: center;
    color: lighten(saturate($accent-color, 10), 20);
    clear: both;
  }
}

.site-header {
  text-align: center;
  padding-top: $baseline;

  .site-title {
    margin-top: 0;
  }
}

.summary .post-title {
  a::after {
    content: "➺";
    font-size: 1.3em;
    vertical-align: sub;
    line-height: 0.5em;
    opacity: 0;
    transition: opacity .25s ease;
    margin-left: 0.2em;
  }
  a:hover::after {
    opacity: 0.8;
  }
}

.post-header {
  .post-title {
    margin-top: 0.25em;
    margin-bottom: 0;

    &+time {
      margin-top: 0;
    }
  }

  [rel="author"]::before {
    content: "‹ "; //&lsaquo;
  }
}

.blurb {
  text-align: center;

  h1 {
    margin: 0;
  }

  p {
    margin-bottom: 0;
  }

  ul {
    margin-top: 0;
    padding: 0;
  }

  li {
    list-style: none;
    display: inline-block;

    &+li:before {
      content: "\00B7  ";
    }
  }
}

.more-posts {
  margin-top: 1.5rem;
}

.posts-list {
  li {
    list-style: none;
  }

  a {
    display: block;
    padding: 0.2em 0.2em 0.2em 6.5em;
    position: relative;

    time {
      position: absolute;
      left: 0;
      width: 6.5em;
      text-align: right;
    }

    span {
      float: left;
    }
  }
}

time {
  color: #999;
  font-size: 0.9em;
}

main {
  margin-bottom: 1.5rem;

  hr:last-child {
    display: none;
  }
}

td {
  vertical-align: top;
  padding: $baseline/2;
  border: 1px solid #ddd;
}

blockquote {
  margin-left: 0;
  margin-right: 0;
  padding-left: $baseline - 0.4rem;
  border-left: solid 0.4rem #ddd;
  opacity: 0.8;
}

// Using this because Zola doesn't put a class or other hook
pre[style="background-color:#f5f5f5;"],
pre>code {
  background: #f7f7f3;
  padding: 0.5em 0.9em;
  border-radius: 0.5em;
  overflow-x: auto;
  display: block;
}

code,
.highlight-inline {
  padding: 0.25rem;
  border-radius: 0.1rem;
  vertical-align: bottom;
  background: #f5f5f5;
}

.highlight {
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.footnote-reference {
  line-height: 1em;
}
.footnote-definition:target {
  background: #ffd;
}

.more-link {
  float: right;
  position: relative;
  margin-right: 2em;
}
.more-link::after {
  content: "➺";
  position: absolute;
  font-size: 1.6em;
  top: 0.06em;
  right: -1em;
  opacity: 0.7;
}

.excerpt p:last-of-type {
  margin-bottom: .5em;
}

.back-link {
  position: relative;
  font-size: 0.8em;
  opacity: .75;
}
.back-link::before {
  content: "➺";
  position: absolute;
  left: -1em;
  font-size: 1.25em;
  transform: scale(-1, 1);
  bottom: 0.36em;
  line-height: 0;
}

.backlinks {
  h2 {
    margin-bottom: .25em;
  }
  ul {
    margin-top: .25em;
  }
}
