@use "sass:color";

html {
  background: hsl(48deg, 45%, 93%);
  background: linear-gradient(10deg, hsl(48deg, 45%, 94%) 0%, #fff 80%);
  min-height: 100vh;
}
body {
  font-family: "Baskerville", "Palatino", sans-serif;
  font-size: min(26px, max(20px, 2.15vmin));
  margin: auto;
  padding: 1em;
  max-width: 75ch;
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-height: 1.4;
  color: #444;
}

h1,
h2,
h3,
h4,
h5,
h6,
dt {
  font-family: Rockwell, "Courier Bold", Courier, Georgia, Times,
    "Times New Roman", serif;
  margin: 0;
  font-weight: normal;
  line-height: 1;

  a {
    color: inherit;
    text-decoration: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  color: #222;
}
a {
  color: #3273dc;
  text-decoration-thickness: 0.04em;

  &:visited:not(:hover) {
    filter: brightness(0.75);
  }
  &:hover {
    filter: saturate(110%) brightness(1.3);
    transition: filter 0.25s ease;
    text-decoration-thickness: 0.08em;
  }
  &:active,
  &.active {
    filter: saturate(200%);
    text-decoration-thickness: 0.09em;
  }
}

textarea {
  width: 100%;
  font-size: 0.8em;
}
input {
  font-size: 0.8em;
}
content {
  line-height: 1.6;
}
table {
  width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
code {
  padding: 0.1em 0.2em;
  background-color: #f2f2f2;
}
pre {
  padding: 0.8em 1em;
}
code,
pre.astro-code {
  border-radius: 0.2em;
  font-size: 0.8em;
}
pre > code {
  all: unset;
}
blockquote {
  border: 1px solid #999;
  color: #222;
  padding: 0.1em 0 0.1em 1em;
  margin: 0px;
  font-style: italic;
}

hr {
  font-size: 2em;
  margin: 0.5em 0;
  height: 1.3em;
  font-family: "Calluna", serif;
  border: none;
  clear: both;

  &:after {
    content: "⁂"; // https://en.wikipedia.org/wiki/Asterism_(typography)
    display: block;
    text-align: center;
    color: color.adjust(#ea7950, $saturation: 10%, $lightness: 20%);
    clear: both;
  }
}

// Astro is putting a bunch of extra <hr> tags at the end of articles for some
// reason.
hr + hr {
  display: none;
}

.read-more {
  font-weight: 600;
  text-align: center;
}
.read-more > a:before {
  content: "Continue ";
  font-weight: normal;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin: 0.5em 0;
  opacity: 0.9;
}
