---
import HeaderLink from "./HeaderLink.astro";
---

<nav>
  <HeaderLink href="/">Home</HeaderLink>
  <HeaderLink href="/archive">Archive</HeaderLink>
  <HeaderLink href="/rss.xml">Feed</HeaderLink>
  <HeaderLink href="https://github.com/tgecho" rel="me">Code</HeaderLink>
  <HeaderLink href="https://fosstodon.org/@esimmler" rel="me"
    >Social</HeaderLink
  >
</nav>
