<aside class="blurb">
	{% if current_path and current_path != "/" and current_path != "archive/" %}
	<h1><a href="{{ config.base_url | safe }}/">Erik Simmler</a></h1>
	{% endif %}

	<p>Software developer, internaut and irregular rambler.</p>

	<ul>
		<li><a href="{{ config.base_url | safe }}/">Home</a></li>
		<li><a href="{{ config.base_url | safe }}/archive/">Archive</a></li>
		<li><a href="{{ config.base_url | safe }}{{ config.extra.rss_path | safe }}">Feed</a></li>
		<li><a href="https://github.com/tgecho">Github</a></li>
		<li><a href="https://fosstodon.org/@esimmler" rel="me">Mastodon</a></li>
	</ul>
</aside>
